In [1]:
s = 'Main acad'

In [35]:
s = s[1:4:2]

In [41]:
s = string.ascii_letters

In [42]:
s[2]

'c'

In [43]:
s[-2]

'Y'

In [44]:
s[:5]

'abcde'

In [45]:
s[:-2]

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWX'

In [46]:
s[::2]

'acegikmoqsuwyACEGIKMOQSUWY'

In [47]:
s[1::2]

'bdfhjlnprtvxzBDFHJLNPRTVXZ'

In [48]:
s[::-1]

'ZYXWVUTSRQPONMLKJIHGFEDCBAzyxwvutsrqponmlkjihgfedcba'

In [55]:
s[::-2]

'ZXVTRPNLJHFDBzxvtrpnljhfdb'

In [56]:
len(s)

52

In [64]:
s = 'Point (51.34233 32.2389230)'

a, b = s[s.find('(')+1 : s.find(')')].split()
print(float(a), float(b))

51.34233 32.238923

In [72]:
import string
s = 'ssddXfdgaXdklvXodvk'

if not 'X' in s:
    print(False)
elif s.count('X') == 1:
    print(s.find('X'))
else:
    print(s.find('X'), s.rfind('X'))

4 14

In [94]:
new_list = [1, 'baa', True, 200_500]

len(new_list)

4

In [95]:
new_list[0] = 2
new_list

[2, 'baa', True, 200500]

In [96]:
new_list[0] = new_list[0]*2
new_list

[4, 'baa', True, 200500]

In [97]:
new_list[1:]

['baa', True, 200500]

In [98]:
new_list[5] = 2 + 3j
new_list

IndexError: list assignment index out of range

In [99]:
new_list.append(2 + 3j)
new_list

[4, 'baa', True, 200500, (2+3j)]

In [100]:
new_list.append([1, 2, 3])
new_list

[4, 'baa', True, 200500, (2+3j), [1, 2, 3]]

In [101]:
new_list[-1][0] = 20

In [102]:
new_list

[4, 'baa', True, 200500, (2+3j), [20, 2, 3]]

In [106]:
new_list.extend([1, 2, 3])

TypeError: extend() takes exactly one argument (3 given)

In [111]:
new_list.reverse()
new_list

[3, 2, 1, [20, 2, 3], (2+3j), 200500, True, 'baa', 4]

In [122]:
l = ['8','83', '93', '4', '12']
l.sort(reverse=True)
l

['93', '83', '8', '4', '12']

In [123]:
sorted(l)

['12', '4', '8', '83', '93']

In [125]:
4 in l

False

In [130]:
new_list = []

# for i in range(0, 101):
#     if i % 2 == 0:
#         new_list.append(i)


# for i in range(0, 101, 2):
#     new_list.append(i)
new_list = list(range(0, 101, 2))
new_list = [i for i in range(0, 101, 2)]
new_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [10]:
company = {'Ihor': 3000,
           'Maria': 4000,
           'Eva': 5000}
company

{'Ihor': 3000, 'Maria': 4000, 'Eva': 5000}

In [3]:
new_dict['Ihor'] = 6000
new_dict

{'Ihor': 6000, 'Maria': 4000, 'Eva': 5000}

In [4]:
del new_dict['Eva']

In [6]:
new_dict.pop('Maria')

4000

In [7]:
new_dict

{'Ihor': 6000}

In [16]:
company.keys()

dict_keys(['Ihor', 'Maria', 'Eva'])

In [19]:
for key in company:
    print(key, company[key])

Ihor 3000
Maria 4000
Eva 5000

In [21]:
company.items()

dict_items([('Ihor', 3000), ('Maria', 4000), ('Eva', 5000)])

In [20]:
for k,v in company.items():
    print(k, v)

Ihor 3000
Maria 4000
Eva 5000

In [27]:
for emp in company:
    company[emp] = company[emp] * 1.1

In [36]:
def add_visitor(my_dict, name):
    if name in my_dict:
        my_dict[name] = my_dict[name] + 1
    else:
        my_dict[name]



dict_with_visitors = {}

while True: 
    name = input()
    
    if name == 'stop':
        break
        
    add_visitor(dict_with_visitors, name)
    
    
        
print(dict_with_visitors)

Ihor
Maria
Eva
Ihor
Ihor
Eva
Eva
Eva
Eva
Ihor
Maria
Oleg
stop
{'Ihor': 4, 'Maria': 2, 'Eva': 5, 'Oleg': 1}

In [37]:
for i in dict_with_visitors:
    if dict_with_visitors[i] >= 3:
        print(i)

Ihor
Eva

In [41]:
m = max(dict_with_visitors.values())

for name in dict_with_visitors:
    if dict_with_visitors[name] == m:
        print(name, m)

Eva 5

In [44]:
max(new_dict, key= lambda name: new_dict[name])
max(new_dict, key= new_dict.get)

'Eva'

In [1]:
new_set = {1, 2, 3, 5, 10, 10}

new_set

{1, 2, 3, 5, 10}

In [3]:
new_set.add(11)
new_set

{1, 2, 3, 5, 10, 11}

In [4]:
student_python = {'Ihor', 'Maria', 'Eva', 'Vasya'}
student_ds = {'Eva', 'Oleg', 'Anton', 'Maria'}

In [7]:
student_ds - student_python

{'Anton', 'Oleg'}

In [13]:
# import statistics
my_list = []

while True:
    n = input()
    
    if n =='stop':
        break
    
    my_list.append(int(n))
    
# statistics.median(my_list)
my_list.sort()

if len(my_list) % 2 == 0:
    i1 = len(my_list) // 2 
    i2 = len(my_list) // 2 - 1
    print((my_list[i1] + my_list[i2]) / 2)
else:
    i = len(my_list) // 2
    print(my_list[i])

1
2
stop
1.5

In [38]:
import random

new_list = []

for i in range(10):
    new_list.append(random.randint(1, 100))
    
new_list

[55, 86, 57, 23, 17, 54, 55, 42, 65, 19]

In [44]:
try:
    1/0
except:
    print('На нуль ділити не можна')

На нуль ділити не можна

In [2]:
my_list = []

while True:
    n = input()
    
    if n =='stop':
        break
    try:
        my_list.append(int(n))
    except ZeroDivisionError:
        print('Спробуйте ще раз')
        print(f'Ваша помилка: {e}')
    except:
        print('Колись спрацює')
    else:
        print('Тут елсе')
    finally:
        print('Завжди працює')
        
    
my_list

1
Тут елсе
Завжди працює
sdsdasd
Колись спрацює
Завжди працює
stop

[1]

In [5]:
@decor
def summator(b):
    
    c = a + b
    return c

len  = 10
print(len)

10

In [34]:
def summator(*args, a):
    print(args, a)
    
summator(1, 2, 4, a=5)

(1, 2, 4) 5

In [36]:
def summator(b, a):
    print(b, a)
    
summator(a=10, b=20)

10 20

In [45]:
def summator(*args, **kwargs):
    print(args)
    print(kwargs)

    
summator(1, 2, 3, a=1, b=2, c=4)

(1, 2, 3)
{'a': 1, 'b': 2, 'c': 4}

In [8]:
x = [(1,2), (-1,2), (26,5, 1), (1,2), (-1,2), (25,4)]

def my_len(el):
    return len(el)

max(x, key = lambda element : sum(element))
max(x, key = my_len)

(26, 5, 1)

In [11]:
a = my_len

In [15]:
new_dict = {1: my_len('SDSD')}

new_dict[1]

4

In [16]:
def sq(el):
    return el**2

In [22]:
l = [1, 2, 3, 4, 5]
for i in l:
    print(i**2)

1
4
9
16
25

In [23]:
list(map(lambda el: el**2 , [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [25]:
n = input().split()
list(map(int , n))

1 2 3

[1, 2, 3]

In [26]:
l =  [1, 2, 3, 4, 5]
list(filter(lambda el: el%2==0  ,l))

[2, 4]

In [57]:
import time
start = time.time()
l = []
for i in range(9999999):
    if i % 2 == 0:
        l.append(i)
print(time.time()-start)

2.1530535221099854

In [58]:
start = time.time()
l = [i for i in range(9999999) if i % 2 ==0]
print(time.time()-start)

1.1746840476989746

In [61]:
l = [i+j for i in range(20) for j in range(20) if i % 2 ==0]

In [62]:
n = input().split()
#list(map(int , n))
l = [int(i) for i in n]
l

1 2 3

[1, 2, 3]

In [65]:
l=(i**2 for i in [1,2,3,4,5])
list(l)

[1, 4, 9, 16, 25]