# Lab work 4.2 - Module 4: Work with data professionaly

## Завдання 0
1. підключитися до бази, яку пропонують
2. вивести інформацію про базу даних
3. вивести перелік всіх таблиць

In [65]:
import sqlite3

conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

text = ("SELECT * FROM sqlite_master")

curs.execute(text)

results = curs.fetchall()
print(results)

[('table', 'Customers', 'Customers', 2, 'CREATE TABLE Customers\n(\n  cust_id      char(10)  NOT NULL ,\n  cust_name    char(50)  NOT NULL ,\n  cust_address char(50)  NULL ,\n  cust_city    char(50)  NULL ,\n  cust_state   char(5)   NULL ,\n  cust_zip     char(10)  NULL ,\n  cust_country char(50)  NULL ,\n  cust_contact char(50)  NULL ,\n  cust_email   char(255) NULL ,\n  PRIMARY KEY (cust_id)\n)'), ('index', 'sqlite_autoindex_Customers_1', 'Customers', 3, None), ('table', 'OrderItems', 'OrderItems', 4, 'CREATE TABLE OrderItems\n(\n  order_num  int          NOT NULL                      ,\n  order_item int          NOT NULL                      ,\n  prod_id    char(10)     NOT NULL                      ,\n  quantity   int          NOT NULL                      ,\n  item_price decimal(8,2) NOT NULL                      ,\n  PRIMARY KEY (order_num, order_item)                   ,\n  FOREIGN KEY (order_num) REFERENCES Orders (order_num) ,\n  FOREIGN KEY (prod_id) REFERENCES Products (prod_id)\n)'), ('index', 'sqlite_autoindex_OrderItems_1', 'OrderItems', 5, None), ('table', 'Orders', 'Orders', 7, 'CREATE TABLE Orders\n(\n  order_num  int      NOT NULL ,\n  order_date datetime NOT NULL ,\n  cust_id    char(10) NOT NULL ,\n  PRIMARY KEY (order_num)      ,\n  FOREIGN KEY (cust_id) REFERENCES Customers (cust_id)\n)'), ('index', 'sqlite_autoindex_Orders_1', 'Orders', 9, None), ('table', 'Products', 'Products', 10, 'CREATE TABLE Products\n(\n  prod_id    char(10)      NOT NULL ,\n  vend_id    char(10)      NOT NULL ,\n  prod_name  char(255)     NOT NULL ,\n  prod_price decimal(8,2)  NOT NULL ,\n  prod_desc  text          NULL     ,\n  PRIMARY KEY (prod_id)             ,\n  FOREIGN KEY (vend_id) REFERENCES Vendors (vend_id)\n)'), ('index', 'sqlite_autoindex_Products_1', 'Products', 11, None), ('table', 'Vendors', 'Vendors', 12, 'CREATE TABLE Vendors\n(\n  vend_id      char(10) NOT NULL ,\n  vend_name    char(50) NOT NULL ,\n  vend_address char(50) NULL     ,\n  vend_city    char(50) NULL     ,\n  vend_state   char(5)  NULL     ,\n  vend_zip     char(10) NULL     ,\n  vend_country char(50) NULL     ,\n  PRIMARY KEY (vend_id)\n)'), ('index', 'sqlite_autoindex_Vendors_1', 'Vendors', 13, None)]

In [66]:
sql_text = ("SELECT name FROM sqlite_master WHERE type='table';")

def result(sql_text):
    conn = sqlite3.connect('tysql.sqlite')
    curs = conn.cursor()
    
    curs.execute(sql_text)
    
    for row in curs.fetchall():
        print(row)
    conn.close()
    
result(sql_text)

('Customers',)
('OrderItems',)
('Orders',)
('Products',)
('Vendors',)

## Завдвння 1
#### Написати інструкцію, що виводить наступну інформацію:
1. Список всіх cust_id з таблиці Customers table
2. Всю таблицю Customers table
3. Список клієнтів (cust_name) відсортованих від Z до A
4. Таблицю клієнтів та замовлень cust_id та order_num. Відсортувати по клієнту, потім по даті замовлень
5. Таблицю (на основі items) з кількістю та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості
6. Товар (з таблиці Products), ціна якого становить 9,49
7. Виведіть назву товару та ціну, яка лежить в діапазоні від 3 до 6. Відсортуйте результат по ціні в порядку зростання.

In [4]:
script_1 = """
SELECT 
cust_id 
FROM Customers
"""
result(script_1)

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

In [5]:
script_2 = """
SELECT * 
FROM Customers
"""
result(script_2)

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

In [6]:
script_3 = """
SELECT cust_name 
FROM Customers
ORDER BY cust_name ASC
"""
result(script_3)

('Fun4All',)
('Fun4All',)
('Kids Place',)
('The Toy Store',)
('Village Toys',)

In [7]:
script_4 = """
SELECT 
cust_id, order_num
FROM Orders
ORDER BY cust_id, order_date
"""
result(script_4)

('1000000001', 20009)
('1000000001', 20005)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)

In [8]:
script_5 = """
SELECT 
quantity,item_price
FROM OrderItems
ORDER BY quantity DESC, item_price DESC
"""
result(script_5)

(250, 2.49)
(250, 2.49)
(250, 2.49)
(100, 10.99)
(100, 5.49)
(100, 2.99)
(100, 2.99)
(100, 2.99)
(50, 11.49)
(50, 4.49)
(20, 5.99)
(10, 11.99)
(10, 8.99)
(10, 3.49)
(10, 3.49)
(10, 3.49)
(5, 11.99)
(5, 4.99)

In [9]:
script_6 = """
SELECT * 
FROM Products
WHERE prod_price = 9.49
"""
result(script_6)

('RYL01', 'FNG01', 'King doll', 9.49, '12 inch king doll with royal garments and crown')
('RYL02', 'FNG01', 'Queen doll', 9.49, '12 inch queen doll with royal garments and crown')

In [10]:
script_7 = """
SELECT prod_name, prod_price  
FROM Products
WHERE prod_price BETWEEN 3 AND 6
ORDER BY prod_price ASC
"""
result(script_7)

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

## Завдання 2
#### Написати інструкцію, що виводить наступну інформацію:
1. Кількість товару, що було продано.
2. Кількість найменувань товару, ціна яких більша 4.
3. Розробити алгориттм для виведення 3-х найдорожчіх товарів.
4. Підрахуйте кількість замовлень для кожно клієнта застосовуючи підзапити.
5. Виведіть список клієнтів та їх замовлення, використовуючи JOIN.
6. Зробіть два запити: список товарів ціна яких менша 5, та список товарів ціна яких більша або дорівнює 5. Використати UNION для об'єднання цих записів.

In [34]:
# 1. Кількість товару, що було продано.
script_1 = """
SELECT prod_id, SUM(quantity)
FROM OrderItems
GROUP BY prod_id

UNION

SELECT 'Загальна кількість проданого товару:', SUM(quantity)
FROM OrderItems
"""
result(script_1)

('BNBG01', 360)
('BNBG02', 360)
('BNBG03', 360)
('BR01', 120)
('BR02', 10)
('BR03', 165)
('RGAN01', 55)
('Загальна кількість проданого товару:', 1430)

In [39]:
# 2. Кількість найменувань товару, кількість яких більша 4.
script_2 = """
SELECT COUNT(prod_id)
FROM Products
WHERE prod_price > 4
"""
result(script_2)

(6,)

In [13]:
# Товари з максимальною вартістю
script_3 = """
SELECT *
FROM OrderItems
WHERE item_price = (SELECT MAX(item_price)
                    FROM OrderItems)
"""
result(script_3)

(20006, 3, 'BR03', 10, 11.99)
(20008, 2, 'BR03', 5, 11.99)

In [14]:
# Три найдорожчіх товари
script_3 = """
SELECT *
FROM OrderItems
ORDER BY item_price DESC
LIMIT 3
"""
result(script_3)

(20006, 3, 'BR03', 10, 11.99)
(20008, 2, 'BR03', 5, 11.99)
(20007, 1, 'BR03', 50, 11.49)

In [26]:
# 4. Підрахуйте кількість замовлень для кожно клієнта.
script_4 = """
SELECT cust_id, COUNT(order_num) 
FROM Orders
GROUP BY cust_id
"""

('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

In [40]:
# 4. Підрахуйте кількість замовлень для кожно клієнта (застосовуючи підзапити).
script_4 = """
SELECT cust_id, SUM(1)
FROM (SELECT cust_id FROM Orders)
GROUP BY cust_id
"""
result(script_4)

('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

In [42]:
# 5. Виведіть список клієнтів та їх замовлення, використовуючи JOIN.
script_5 = """
SELECT cust_name, order_num
FROM Orders
JOIN Customers on Customers.cust_id=Orders.cust_id
"""
result(script_5)

('Village Toys', 20005)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)
('Village Toys', 20009)

In [64]:
# 6. Зробіть два запити: список товарів ціна яких менша 5, та список товарів ціна яких більша або дорівнює 5. 
#    Використати UNION для об'єднання цих записів.
skript_6 = """
SELECT prod_name, prod_price
FROM Products
WHERE prod_price < 5

UNION

SELECT prod_name, prod_price
FROM Products
WHERE prod_price >= 5

"""
result(skript_6)

('12 inch teddy bear', 8.99)
('18 inch teddy bear', 11.99)
('8 inch teddy bear', 5.99)
('Bird bean bag toy', 3.49)
('Fish bean bag toy', 3.49)
('King doll', 9.49)
('Queen doll', 9.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)